:root {
    --background: #F5F3EF;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;

}

/*---------------------- menu ----------------------- */
body {
    background-color: var(--background);
    font-family: roboto;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.menu nav a {
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    
}

.menu nav a:first-child{
    margin-left: 80px;
}

.menu button {
    margin-right: 80px;
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: var(--text-primary);
    color: var(--card);
    font-size: 16px;
}

/*---------------------- header ----------------------- */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.headline {
    font-size: 64px;
    font-style: medium;
    padding-top: 25px;
    font-family: roboto normal serif;
    font-weight: light;
    line-height: 75px;
    height: 225px;
    align-items: start;
    padding-right:40px;
}

.subtext {
    font-size: 24px;
    line-height: 32px;
    font-weight: 100px;
    color: var(--text-secondary);
    margin-top: 32px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin: 40px;
    grid-gap: 40px;
    /* display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center; */
}

.content-box {
    width: 320px;
    height: 244px;
    border: 1px none;
    background-color: var(--card);
    border-radius: 40px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.content-box h2 {
    font-size: 24px;
    font-family: roboto serif;
    background-color: var(--card);
    margin-bottom: 32px;
}

.content-box p {
    line-height: 28px;
    color: var(--text-secondary);
    background-color: var(--card);
    font-weight: 400;
    font-family: roboto;
    width: 320px;
    height: 112px;
    
}

.content-box button {
    width: 150px;
    padding: 10px 25px 10px 25px;
    height: 48px;
    border-radius: 50px;
    border: #DCDCDC solid 1px;
    background-color: var(--card);
    font-size: 18px;
    font-weight: 500px;
    margin-left: 40px;
    margin-top: 32px;
}

.content-box .vector {
    position: relative;
    left: 240px;

}

.banner {
    background-color: var(--accent);
    font-size: 40px;
    font-family: roboto normal serif;
    font-weight: light;
    padding: 40px;
}

footer {
    height: 80px;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    width: 100%;
}

footer img {
    width: 130px;
    height: 30px;
}