:root {
    --background: #F5F3EF;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;

}

/* [http://meyerweb.com/eric/tools/css/reset/](http://meyerweb.com/eric/tools/css/reset/)
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
font-family: roboto;
vertical-align: baseline;
background-color: var(--background);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*---------------------- menu ----------------------- */
.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.menu nav a {
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}

.menu nav {
    margin-left: 80px;
}

.menu button {
    margin-right: 80px;
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: var(--text-primary);
    color: var(--card);
    font-size: 16px;
}

/*---------------------- header ----------------------- */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.headline {
    font-size: 64px;
    font-style: medium;
    padding-top: 25px;
    font-family: roboto normal serif;
    font-weight: light;
    line-height: 75px;
    height: 225px;
    align-items: start;
    padding-right:40px;
}

.subtext {
    font-size: 24px;
    line-height: 32px;
    font-weight: 100px;
    color: var(--text-secondary);
    margin-top: 32px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin: 40px;
    grid-gap: 40px;
    /* display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center; */
}

.content-box {
    width: 320px;
    height: 244px;
    border: 1px none;
    background-color: var(--card);
    border-radius: 40px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.content-box h2 {
    font-size: 24px;
    font-family: roboto serif;
}

.content-box p {
    line-height: 28px;
    color: var(--text-secondary);
    font-weight: 400;
    font-family: roboto;
    
}

.content-box button {
    width: 143px;
    padding: 10px 25px 10px 25px;
    height: 48px;
    border-radius: 50px;
    border: #DCDCDC solid 1px;
    background-color: var(--card);
    font-size: 18px;
    font-weight: 500px;
}

.banner {
    background-color: var(--accent);
    font-size: 40px;
    font-family: roboto normal serif;
    font-weight: light;
    padding: 40px;
}